<div class="calculate-block">
  <div class="change-currency-block">
    <h1>Обмен</h1>
    <div class="example-button-container">
      <button class="change-currency" mat-icon-button color="primary" (click)="swapCalc()">
        <mat-icon>
          <img alt="" class="vector-image" priority ngSrc="/assets/images/Vector-left.svg" width="24" height="13" />
          <img alt="" class="vector-image" priority ngSrc="/assets/images/Vector-right.svg" width="24" height="13" />
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="value-block">
    <p>Отдаете</p>
    <div class="currency-value">
      <div class="currency-value-img">
        <img alt="" src="{{ combineInfo.send.logo }}" />
      </div>
      <mat-form-field class="example-form-field">
        <input matInput type="number" [(ngModel)]="sandValue" />
      </mat-form-field>
    </div>
  </div>

  <div class="value-block">
    <p>Получаете</p>
    <div class="currency-value">
      <div class="currency-value-img">
        <img alt="" src="{{ combineInfo.get.logo }}" />
      </div>
      <div>
        <mat-form-field class="example-form-field">
          <input matInput type="number" readonly [(ngModel)]="convertedValue * sandValue" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="rate-block">
    <p>Курс обмена</p>
    <div *ngIf="convertedValue" class="exchange-rate">
      {{ convertedValue + ' ' + combineInfo.get.currency }} = 1 {{ combineInfo.send.currency }}
    </div>
  </div>
</div>
