<div class="app-block">
  <app-currency
    [title]="'Вы отправляете'"
    [usedFilter]="usedFilter"
    [selectedItem]="selectedItemSend"
    [currency]="currencySend"
    [usedCurrencies]="usedCurrencySend"
    [financialInstitution]="financialInstitution"
    (toAppCalc)="sendToCalc($event)"
    (checkedButtonValue)="fillInfo($event, false)"
  ></app-currency>

  <app-currency
    [title]="'Вы получаете'"
    [usedFilter]="usedFilter"
    [selectedItem]="selectedItemGet"
    [currency]="currencyGet"
    [usedCurrencies]="usedCurrencyGet"
    [financialInstitution]="financialInstitution"
    (toAppCalc)="getToCalc($event)"
    (checkedButtonValue)="fillInfo($event, true)"
  ></app-currency>

  <app-calculate-currency [setCombineInfo]="valueToCalc"></app-calculate-currency>
</div>
