@import 'src/environment.scss';

.currency-block {
  border-radius: 20px;
  box-shadow: 0px 0px 24px 0px $shadow-color;
  width: 349px;
  margin: 24px 12px;
  padding: 24px;
  background-color: $background-color-all;
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
  color: $text-dark-color;
}

//банки
.mat-button-toggle-checked {
  background-color: $used-button-background-color;
  border-radius: 12px;
  border-left: none;
}

.banks-block {
  display: flex;
  flex-direction: column;
  border: none;
}

.selection-fields-block {
  overflow-y: auto;
  width: 349px;
  height: 440px;
  scrollbar-color: $scrollbar-thumb-color $scrollbar-body-color;
  scrollbar-width: thin;
}

::ng-deep .selection-field-deep {
  display: flex !important;
  align-content: flex-start !important;
  p {
    margin-left: 10px;
    font-weight: 500;
  }
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: $text-dark-color;
}

::ng-deep .selection-field {
  border-left: none!important;
  button {
    display: flex;
  }
  //display: flex!important;
  //justify-content: start!important;
  //align-items: start;
  //width: 332px;
  //height: 72px;
  //border-radius: 12px;
  //border: none;
  //background-color: rgba(255, 255, 255, 1);
  //
  //&:focus{
  //  background-color: rgba(233, 255, 214, 1);
  //}
  //
  //p {
  //  font-size: 16px!important;
  //  font-weight: 500!important;
  //  line-height: 19.36px!important;
  //  text-align: left!important;
  //  margin: 0!important;
  //}
  //img {
  //  width: 32px!important;
  //  height: 32px!important;
  //}
}

//кнопки Валюта и Криптовалюта//
.button-block {
  margin-top: 32px;
  background-color: $currency-block-background-color;
  border-radius: 8px;
}

.currency-button-block{
  border: none;
}

.currency-button{
  display: flex;
  align-items: center;
  height: 40px;
  border-left: none!important;
}

.currencyCheck{
  width: 173px;
  border: 1px solid $currency-check-border-color;
  background: $currency-button-background-color;
  color: $text-white-color;
  border-radius: 8px;
  &:hover{
    background: $currency-button-hover-background-color;
  }
}

.currencyUncheck{
  width: 173px;
  background: $currency-block-background-color;
  color: rgba(41, 41, 41, 1);
  border-radius: 8px;
  border: 1px solid $currency-uncheck-border-color;
  &:hover{
    background: $currency-block-hover-background-color;
    border-radius: 8px!important;
  }
}

////фильтр
.swipe-left {
  right: 140px !important;
  left: auto;
}

.swipe-right {
  right: 140px !important;
  left: auto;
}


.filter-block {
  display: flex;
}

.currency-filter-block {
  display: flex;
  align-items: center;
  margin: 10px;
  overflow-y: auto;
  scrollbar-width: none;
}
.block-filter{
  display: flex;
}
  //убирает галочки
::ng-deep .mat-mdc-standard-chip .mdc-evolution-chip__graphic {
  height: var(--mdc-chip-with-avatar-avatar-size, 0px)!important;
  width: var(--mdc-chip-with-avatar-avatar-size, 0px)!important;
  font-size: var(--mdc-chip-with-avatar-avatar-size, 0px)!important;
}

//.filter-element {
//  background: rgba(255, 255, 255, 1)!important;
//  --mdc-chip-label-text-color: rgb(41, 41, 41) !important;
//  --mdc-chip-elevated-container-color: rgba(255, 255, 255, 1) !important;
//
//  &:hover {
//    background: rgba(255, 255, 255, 1)!important;
//    border-radius: 8px!important;
//  }
//
//  &:focus-within {
//    display: none !important;
//    background: rgba(255, 255, 255, 1)!important;
//  }
//}
.mat-mdc-standard-chip {
  background-color: $filter-background-color!important;
  border-radius: 8px!important;
}
::ng-deep .mat-mdc-chip-ripple {
  display: none !important;
}

//бордер при выборе
.mat-mdc-standard-chip.mat-primary.mat-mdc-chip-selected, .mat-mdc-standard-chip.mat-primary.mat-mdc-chip-highlighted {
  border: 1px solid $filter-check-border-color;
  --mdc-chip-disabled-label-text-color: $text-dark-color;
  border-radius: 8px;
  opacity: 1;
}
//::ng-deep .mat-mdc-chip-action:focus .mat.mdc.focus-indicator::before {
//content: none!important;
//background-color: rgba(255, 5, 255, 1)!important;
//}
::ng-deep .mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) .mdc-evolution-chip__text-label {
color: $text-dark-color!important;
}
