<div class="currency-block">
  <h1 class="title" [textContent]="title"></h1>
  <!--------------- кнопки Валюта и Криптовалюта --------------->
  <div class="button-block">
    <mat-button-toggle-group class="currency-button-block" [(ngModel)]="checkedButtonValue">
      <mat-button-toggle
        value="Валюта"
        class="currency-button"
        [ngClass]="{'currency-check': checkedButtonBoolean, 'currency-uncheck': !checkedButtonBoolean}"
        (click)="checkedButtonBoolean = true"
        >Валюта</mat-button-toggle
      >
      <mat-button-toggle
        value="Криптовалюта"
        class="currency-button"
        [ngClass]="{'currency-uncheck': checkedButtonBoolean, 'currency-check': !checkedButtonBoolean}"
        (click)="checkedButtonBoolean = false"
        >Криптовалюта</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <!--------------- фильтр --------------->
  <div class="filter-block">
    <div *ngIf="checkedButtonValue === 'Валюта'" class="currency-filter-block">
      <button class="filter-scroll-button" (click)="scrollLeft()">
        <img class="filter-vector-left" src="assets/images/VectorFilter.svg" />
      </button>
      <mat-radio-group #widgetsContent class="example-radio-group">
        <mat-radio-button
          *ngFor="let item of currency"
          class="banks-radio-button"
          [ngClass]="{active: item === selectedItem}"
          (click)="usedFilter(item)"
        >
          {{ item }}
        </mat-radio-button>
      </mat-radio-group>
      <button class="filter-scroll-button" (click)="scrollRight()">
        <img src="assets/images/VectorFilter.svg" />
      </button>
    </div>

    <div *ngIf="checkedButtonValue === 'Криптовалюта'" class="currency-filter-block">
      <mat-radio-group class="example-radio-group">
        <mat-radio-button class="crypto-radio-button"> Криптовалюта </mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
  <!--------------- поле выбора банка или крипты --------------->
  <div class="qwe">
    <div *ngIf="checkedButtonValue === 'Валюта'" class="selection-fields-block">
      <mat-button-toggle-group name="banks" class="currency-list-block">
        <mat-button-toggle
          *ngFor="let item of usedBanks"
          class="selection-field"
          value=">{{ item.name }}"
          (click)="toCalc(item)"
        >
          <div class="selection-field-deep">
            <img alt="#" src="{{ item.logo }}" />
            <p>{{ item.name }}</p>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div *ngIf="checkedButtonValue === 'Криптовалюта'" class="selection-fields-block">
      <mat-button-toggle-group name="crypto" class="currency-list-block">
        <mat-button-toggle
          *ngFor="let item of crypto"
          class="selection-field"
          value=">{{ item.name }}"
          (click)="toCalc(item)"
        >
          <div class="selection-field-deep">
            <img alt="#" src="{{ item.logo }}" />
            <p>{{ item.name }}</p>
          </div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
</div>
