<div class="currency-block">
  <h1>Вы отправляете</h1>
  <div class="button-block">
    <button class="button-block-button">Валюта</button>
    <button class="button-block-button">Криптовалюта</button>
  </div>

  <div class="currency-scroll-block">
    <!--    <button><</button>-->
    <ul class="currency-scroll">
      <li class="currency-scroll-text">Все</li>
      <li class="currency-scroll-text">Рубли</li>
      <li class="currency-scroll-text">Доллары</li>
      <li class="currency-scroll-text">Тенге</li>
      <li class="currency-scroll-text">Драм</li>
      <li class="currency-scroll-text">Рупия</li>
      <li class="currency-scroll-text">Евро</li>
    </ul>
    <button class="currency-button">></button>
  </div>

  <div class="selection-fields-block">
    <div class="selection-field">
      <img alt="#" src="assets/images/Frame%2015.svg" />
      <p>Альфа-Банк</p>
    </div>
    <div class="selection-field">1</div>
    <div class="selection-field">1</div>
    <div class="selection-field">1</div>
    <div class="selection-field">1</div>
    <div class="selection-field">1</div>
  </div>
</div>
